*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #eee;;
}
.btn-blue{
    color: white;
    background-color: blue;
}
.btn-blue:hover{
    background-color: rgb(2, 2, 26);
}
.topdisplay{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}
.topdisplay-location{
    display: flex;
}
.topdisplay-location p{
    font-size: 12px;
}
.topdisplay-location .location-icon{
    font-size: 30px;
}
.topdisplay-location button:hover{
    color: blue;
}
.top-right-icon{
    text-align: center;
    padding: 10px;
}
.top-right-icon:hover{
    color: blue;
}
/****************** topdisplay ends here */
.nav-content{
    background-color: rgb(7, 7, 112);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 30px;
    border-bottom:1px solid white;
}
.nav-content .nav-items{
    display: flex;
    list-style: none;
}
.nav-content .nav-items a{
    text-decoration: none;
    color: white;
    padding: 15px 20px;
    font-weight: bolder;
}
.nav-content .nav-items a:hover{
    background-color: blue;
}
.nav-content .nav-items .nav-link{
    display: flex;
}
.nav-content .search{
    display: flex;
    color: white;
    padding: 10px 5px;
}
.nav-content .search a{
    padding:0 15px;
    font-size: 20px;
    font-weight: bold;
}
.nav-content .search:hover{
    background-color: blue;
}
.toggler{
    display: none;
}
.subnav{
    position: absolute;
    top: 140px;
    display: flex;
    color: black;
    background-color: white;
    display: none;
}
.subnav .childnav li{
    margin: 20px 0;
    list-style: none;
}
.subnav .childnav a{
    color: black;
    font-weight: lighter;
}
.subnav .childnav a:hover{
    text-decoration: underline;
    background: none;
}
.nav-link li:hover .subnav{
    display: flex;
}

/* -------------------   nav-bar end here ----------- */

.topbanner-content{
    background: url('../assets/HERO_2737.jpg');
    height: inherit;
    width: 100%;
    color: white;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.topbanner-content .topbanner-writeup-card{
    width: 55%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bannerwriteup{
    width: 65%;
}
.bannerwriteup h2{
    font-size: 40px;
    font-weight: lighter;
    font-family: serif;
}
.bannerwriteup button{
    background-color: white;
    border-style: none;
    padding: 10px;
    border-radius: 5px;
    color: blue;
    font-weight: bold;
    margin: 20px 0;
}
.bannercard{
    width: 40%;
}
.bannercard img{
    width: 100%;
    height: 170px;
}
.topbanner-form{
    width: 28%;
    background: white;
    color: black;
    padding: 20px;
    height: inherit;
}
.topbanner-form .topbanner-form-head{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.topbanner-form .topbanner-form-head h5{
    font-size: 18px;
}
.topbanner-form .topbanner-form-head .but-citiapp{
    text-align: center;
    width: 50%;
    color: blue;
    display: flex;
    align-items: center;
}
.citiapp-icon{
    font-size: 20px;
    margin: 5px;
}
.topbanner-form .topbanner-form-head button{
    width: 55%;
    border: none;
    background: white;
    text-decoration: underline;
    font-size: 13px;
    text-transform: capitalize;
    color: blue;
}
.topbanner-form form{
    width: 100%;
    justify-items: center;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
}
.topbanner-form form input{
    background: silver;
    border-style: none;
    height: 50px;
    width: 45%;
    outline-style: none;
    border-radius: 5px;
    padding: 0 10px;
    margin: 0 5px;
}
.topbanner-form form .check{
    display: flex;
    align-items: center;
    width: 90%;
}
.topbanner-form form .check #check{
    width: 5%;
    border-radius: 5px;
}
.topbanner-form form button{
    width: 90%;
    padding: 15px 0;
    margin: auto;
    border-style: none;
    border-radius: 5px;
    background: blue;
    color: white;
    font-size: 20px;
    font-weight: bolder;
    text-transform: capitalize;
}
.topbanner-form-links .form-link1{
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}
.topbanner-form-links .form-link1 a{
    width: 50%;
    text-align: left;
    padding: 3px 0;
    color: blue;
}
/* ******** ---------topbanner-content ends here!!! */

.section-style{         /* helps to display a content flex*/
    display: flex;
    justify-content: space-around;
    padding: 30px;
    width: 80%;
    margin-bottom: 25px;
    margin: auto;
}
.creditcards{
    width: 30%;
    margin: 25px 0;
    height: inherit;
}
.creditcards .creditcard-header{
    color: blue;
}
.creditcards .creditcard-image img{
    width: 100%;
    height: 12rem;
    margin-top: 15px;
}
.creditcard-writeup p{
    margin: 15px 0;
}
.creditcard-writeup button{
    border-style: none;
    border-radius: 5px;
    background-color: blue;
    color: white;
    padding: 15px;
    font-weight: bold;
}
.creditcard-writeup button:hover{
    background-color: navy;
}
/*  ----------- creditcard styles ends here*/
.simple-image{
    width: 45%;
}
.simple-image img{
    width: 100%;
}
.simple-writeup{
    width: 45%;
}
.simple-writeup h3{
    font-size: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    font-weight: lighter;
    margin: 20px 0;
}
.simple-writeup h6{
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: lighter;
    margin: 20px 0;
}
.simple-writeup .blue-button{
    background-color: blue;
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
}
.blue-button:hover{
    background: rgb(2, 2, 41);
}
/* ----------- simple section ends here  note: section two and three share this styling-----------*/
.scam-writeup{
    text-align: right;
    margin-bottom: 20px;
}
/* ------------  Action racial ---------------- */
.action-racial-container{
    width: 90%;
    justify-content: space-around;
    height: inherit;
    padding: 0;
    margin-bottom: 50px;
}
.action-racial-container .simple-image{
    width: 50%;
}
.racial-writeup{
    width: 50%;
    padding: 40px;
    background: white;
}
.action-racial-container .simple-image img{
    width: 100%;
    height: inherit;
}
footer{
    background-color: rgb(26, 24, 24);
    color: white;
    /* padding: 50px 100px; */
}
.footer-content{
    padding: 50px 100px;
}

.footer-component1{
    display: flex;
    justify-content: space-around;
}
.footer-list{
    list-style: none;
}
.footer-list li{
    margin: 10px;
    font-size: 15px;
}
.footer-list li:hover{
    text-decoration: underline;
}
.footer-logo{
    display: flex;
}
.footer-logo h4{
    font-size: 30px;
}
.footer-logo .footerlogo-icon{
    font-size: 50px;
}
.footer-btn-icon{
    justify-content: space-between;
    padding: 30px 40px;
}
.footer-button{
    display: flex;
}
.footer-btn{
    display: flex;
    margin: 10px;
    padding: 10px;
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    text-align: left;
}
.footer-btn .google-icon{
    color: rgb(14, 185, 148);
    font-size: 30px;
    margin-right: 5px;
}
.footer-btn span h4{
    font-size: 20px;
    font-weight: lighter;
    text-transform: capitalize;
}
.footer-btn .apple-icon{
    font-size: 30px;
    margin-right: 5px;
    color: white;
}
.brand-icon{
    margin: 10px;
    font-size: 20px;
}
.citigroup-inc{
    display: flex;
    padding: 10px 50px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    list-style: none;
    height: 10vh;
    align-items: center;
}
.citigroup-inc a{
    text-decoration: none;
    margin:0 10px;
    color: white;
}
.citigroup-inc a:hover{
    text-decoration: underline;
}
.atag-us{
    font-weight: bolder;
}
.footer-component3 .legal-disclosures{
    margin: 30px 0;
}
.footer-component3 .legal-disclosures p{
    margin: 20px 0;
    font-size: 15px;
}
.footer-finalimage{
    width: 100%;
}
.footer-finalimage img{
    width: 100%;
    margin: auto;
}
/* -----------------desktop view ends here ------------------*/

@media screen and (max-width:1060px){
    .toggler{
        display: inline-block;
        color: white;
    }
    .nav-link{
        position: absolute ;
        flex-direction: column;
        top: 140px !important;
        background: white;
        width: 100%;
        height: inherit;
        align-items: left;
        left: 0;
        display: none !important;
        border: 2px solid blue;
    }
    .nav-link li{
        margin: 15px 0!important;
        padding: 5px !important;
    }
    .nav-link a{
        color: black !important;
        padding: 2px !important;
    }
    .nav-items:hover .nav-link{
        display: block !important;
    }
    .subnav{
        flex-direction: column;
        top: 10px;
        position: relative;
        height: inherit;
        flex-direction: row !important;
        /* left: 100px; */
    }

    /******************** nav-contents ends here */

    .topbanner-content{
        height: inherit;
        width: 100%;
        color: white;
        padding: 10px 100px;
        justify-content: space-around;
        display: flex;
        flex-direction: column;
    }
    .topbanner-content .topbanner-writeup-card{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }
    .bannerwriteup{
        width: 60%;
    }
    .bannerwriteup h2{
        font-size: 26px;
        text-align: center;
        padding: 20px 30px;
        font-weight: 50;
    }
    .bannerwriteup p{
        font-size: 17px;
    }
    .bannercard{
        width: 30%;
        margin-left: 0;
        margin-bottom: 20px;
    }
    .bannercard img{
        width: 100%;
        height: 100px;
    }
    .topbanner-form{
        display: none;
    }

    /* --------------- topbanner-contents ends here ---------------*/
    .creditcard-content{
        padding: 20px 0 !important;
        width: 100%;
    }
    .creditcards{
        width: 30%;
        height: inherit !important;
        margin: 20px 0 !important;
    }
    .creditcard-header{
        font-size: 13px;
    }
    .creditcard-writeup button{
        border-style: none;
        border-radius: 5px;
        background-color: blue;
        color: white;
        padding: 10px;
    }
    .section-style{         /* helps to display a content flex*/
        display: flex;
        justify-content: space-around;
        padding: 30px;
        width: 80%;
        margin-bottom: 25px;
        margin: auto;
    }
    .creditcard-content{
        width: 90%;
        padding: 0;
    }
    .creditcards{
        width: 30%;
        height: 40vh;
    }
    .creditcards .creditcard-header{
        color: blue;
        height: 22px;
    }
    .creditcards .creditcard-image img{
        width: 100%;
        height: 12rem;
        margin-top: 15px;
    }
    .creditcard-writeup p{
        margin: 15px 0;
    }
    .creditcard-writeup button{
        border-style: none;
        border-radius: 5px;
        background-color: blue;
        color: white;
        padding: 15px;
    }
    /*  ----------- creditcard styles ends here*/
    
    /* .saving-made-simple{
        margin-top:5rem;
    } */
    .section-three{
        margin-top: 100px;
    }
    .simple-container{
        width: 100%!important;
        padding: 0 !important;
        margin: 40px 0;
    }
    .simple-image{
        width: 45%;
    }
    .simple-image img{
        width: 100%;
    }
    .simple-writeup{
        width: 45%;
    }
    .simple-writeup h3{
        font-size: 20px;
        letter-spacing: 2px;
        text-transform: capitalize;
        font-weight: lighter;
        margin: 20px 0;
    }
    .simple-writeup h6{
        font-size: 15px;
        letter-spacing: 1px;
        font-weight: lighter;
        margin: 20px 0;
    }
    .simple-writeup .blue-button{
        background-color: blue;
        color: white;
        padding: 10px 30px;
        border: none;
        border-radius: 5px;
    }
    .action-racial-container{
        width: 100%;
    }
    .racial-writeup{
        width: 50% !important;
        height: inherit;
    }
    .racial-image{
        width: 50% !important;
        height: 25vh;
    }
    /* ----------- simple section ends here  note: section two and three share this styling-----------*/
    /* footer starts here mobile */
    footer{
        padding: 10px;
    }
    .footer-content{
        padding: 10px;
    }
    .footer-component1{
        flex-direction: column;
    }
    .footer-component1 .footer-list{
        width: 90%;
        border-bottom: 1px solid white;
        margin: 10px 0;
    }
    .footer-list li{
        display: none;
    }
    .footer-list:hover li{
        display: block;
    }
    .footer-logo{
        margin: 10px 0;
    }
    .footer-logo span h4{
        font-size: 25px;
        font-weight: bolder;
    }
    .footer-btn-icon{
        padding: 0;
    }
    .footerlogo-icon{
        font-size: 30px !important;
    }
    .footer-btn{
        padding: 2px !important;
    }
    .footer-btn .btn-icon{
        font-size: 30px !important;
    }
    .footer-btn span p{
        font-size: 10px;
    }
    .footer-btn span h4{
        font-size: 15px;
        font-weight: bold;
    }
    .citigroup-inc{
        height: inherit;
        flex-direction: column;
        padding: 0 !important;
        justify-items: left;
        align-items: flex-start;
    }
    .citigroup-inc a{
        margin: 10px 0;
    }
    .citigroup-inc h4{
        margin: 10px 0;
    }
}

/* ipad and Ipad pro section ends here */

@media screen and (max-width:700px){
    .toggler{
        display: inline-block;
        color: white;
        font-size: 30px;
    }
    .topdisplay-location{
        display: none;
    }
    .nav-link{
        position: absolute ;
        flex-direction: column;
        top: 140px !important;
        background: white;
        width: 100%;
        height: inherit;
        align-items: left;
        left: 0;
        display: none !important;
        border: 2px solid blue;
    }
    .nav-link li{
        margin: 5px;
        padding: 0;
    }
    .nav-link a{
        color: black !important;
        /* padding: 5px !important; */
    }
    .nav-items:hover .nav-link{
        display: block !important;
    }
    .subnav{
        flex-direction: column;
        top: 10px;
        position: relative;
        height: inherit;
        flex-direction: row !important;
        /* left: 100px; */
    }
    .subnav .childnav li{
        margin-top: 5px !important;
    }

    /******************** nav-contents ends here */

    .topbanner-content{
        height: inherit;
        width: 100%;
        color: white;
        padding: 10px;
        display: flex;
        flex-direction: column;
    }
    .topbanner-content .topbanner-writeup-card{
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
    }
    .bannerwriteup{
        width: 100%;
    }
    .bannerwriteup h2{
        font-size: 26px;
        text-align: center;
        padding: 20px 30px;
        font-weight: 50;
    }
    .bannerwriteup p{
        font-size: 17px;
    }
    .bannercard{
        width: 40%;
        margin-left: 0;
        margin-bottom: 20px;
    }
    .bannercard img{
        width: 100%;
        height: 100px;
    }
    .topbanner-form{
        display: none;
    }
    /* --------------- topbanner-contents ends here ---------------*/
    .creditcard-content{
        flex-direction: column;
        padding: 20px;
        width: 90%;
    }
    .creditcards{
        width: 100%;
        margin: 20px 0 !important;
    }
    .creditcard-writeup button{
        border-style: none;
        border-radius: 5px;
        background-color: blue;
        color: white;
        padding: 10px;
        width: 100%;
    }
    /* creditcard-content ends here */
    .simple-container{ /*  section two and three share this styling */
        flex-direction: column;
        width: 90% !important;
        padding: 10px;
        margin: auto;
        margin-bottom: 20px !important;
    }
    .racial-writeup{
        width: 100% !important;
    }
    .racial-image{
        width: 100% !important;
    }
    .simple-image{
        width: 100%;
    }
    .simple-image img{
        width: 100%;
    }
    .simple-writeup{
        width: 90%;
    }
    .simple-writeup h3{
        font-size: 18px;
        letter-spacing: 1px;
        text-transform: capitalize;
        font-weight: bold;
        text-align: center;
        margin: 20px 0;
    }
    .simple-writeup h6{
        font-size: 15px;
        letter-spacing: 1px;
        font-weight: lighter;
        margin: 20px 0;
    }
    .simple-writeup .blue-button{
        background-color: blue;
        color: white;
        padding: 10px 30px;
        border: none;
        border-radius: 5px;
        width: 100%;
    }
    .fraud-container{
        flex-direction: column-reverse;
    }
    .scam-writeup{
        text-align: center;
    }

    .action-racial-container{
        flex-direction: column-reverse;
    }

    /* footer starts here mobile */
    footer{
        padding: 10px;
    }
    .footer-component1{
        flex-direction: column;
    }
    .footer-component1 .footer-list{
        width: 90%;
        border-bottom: 1px solid white;
        margin: 10px 0;
    }
    .footer-list li{
        display: none;
    }
    .footer-list:hover li{
        display: block;
    }
    .footer-logo{
        margin: 10px 0;
    }
    .footer-logo span h4{
        font-size: 25px;
        font-weight: bolder;
    }
    .footer-btn-icon{
        padding: 0;
    }
    .footerlogo-icon{
        font-size: 30px !important;
    }
    .footer-btn{
        padding: 2px !important;
    }
    .footer-btn .btn-icon{
        font-size: 30px !important;
    }
    .footer-btn span p{
        font-size: 10px;
    }
    .footer-btn span h4{
        font-size: 15px;
        font-weight: bold;
    }
    .citigroup-inc{
        height: inherit;
        flex-direction: column;
        padding: 0 !important;
        justify-items: left;
        align-items: flex-start;
    }
    .citigroup-inc a{
        margin: 10px 0;
    }
    .citigroup-inc h4{
        margin: 10px 0;
    }
    .footer-content{
        padding: 10px!important;
    }
    .footer-finalimage{
        background: url("../assets/footermobileciti.png");
        width: 100%;
        height: 15vh;
        background-position: center;
        background-size: cover;
    }
    .footer-finalimage img{
        display: none;
    }
}